<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Anandashram Devotee Registration</title>
  <link rel="shortcut icon" type="image/png" href="~/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="~/assets/css/styles.min.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="app-topstrip bg-dark py-3 px-4 w-100 d-lg-flex align-items-center justify-content-between">
            <div class="d-none d-sm-flex align-items-center justify-content-center gap-9 mb-3 mb-lg-0">
                <a class="d-flex justify-content-center" href="#" target="_blank">
                    Devotee Management
                </a>
            </div>
            <div class="d-lg-flex align-items-center gap-3">
                SOME ITEMS TO COME HERE
            </div>

        </div>

  <!--  Body Wrapper -->
    <div class="navbar navbar-dark fixed-top bg-orange flex-md-nowrap p-0 shadow">

        <!-- Sidebar Start -->
            <aside class="left-sidebar">
                    <div class="brand-logo d-flex align-items-center justify-content-between">
                        <a href="./index.html" class="text-nowrap logo-img">
                            <img src="~/images/company_logo.png" alt="" />
                        </a>
                        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                            <i class="ti ti-x fs-6"></i>
                        </div>
                    </div>
                    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
               
                    <ul id="sidebarnav" class="nav flex-column">
                        @* Devotee *@
                            <li class="sidebar-item">
                                <a class="sidebar-link justify-content-between has-arrow" href="javascript:void(0)" aria-expanded="false">
                                    <div class="d-flex align-items-center gap-3">
                                        <span class="d-flex">
                                            <i class="ti ti-layout-grid"></i>
                                        </span>
                                        <span class="hide-menu">Devotee</span>
                                    </div>
                                </a>
                                <ul aria-expanded="false" class="collapse first-level">
                                    <li class="nav-item">
                                        <div class="d-flex align-items-center gap-3">
                                            <a class="sidebar-link justify-content-between">
                                                <div class="round-16 d-flex align-items-center justify-content-center">
                                                    <div class="round-16 d-flex align-items-center justify-content-center">
                                                        <i class="ti ti-circle"></i>
                                                    </div>
                                                </div>
                                            <span class="d-flex hide-menu">@Html.ActionLink("List", "DevoteeList", "Devotee")</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="d-flex align-items-center gap-3">
                                            <a class="sidebar-link justify-content-between">
                                                <div class="round-16 d-flex align-items-center justify-content-center">
                                                    <div class="round-16 d-flex align-items-center justify-content-center">
                                                        <i class="ti ti-circle"></i>
                                                    </div>
                                                </div>
                                            <span class="hide-menu">@Html.ActionLink("Category", "Index", "DevoteeCategory")</span>
                                            </a>
                                        </div> 
                                    </li>
                                </ul>
                            </li>
                            @* Seperator *@
                            <li>
                      <span class="sidebar-divider lg"></span>
                    </li>
                        @* Reseration *@
                            <li class="sidebar-item">
                      <a class="sidebar-link justify-content-between has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <div class="d-flex align-items-center gap-3">
                          <span class="d-flex">
                            <i class="ti ti-cpu"></i>
                          </span>
                            <span class="hide-menu">Reservation</span>
                        </div></a>
                      <ul aria-expanded="false" class="collapse first-level">
                        <li class="nav-item">
                            <div class="d-flex align-items-center gap-3">
                                <a class="sidebar-link justify-content-between">
                                    <div class="round-16 d-flex align-items-center justify-content-center">
                                        <div class="round-16 d-flex align-items-center justify-content-center">
                                            <i class="ti ti-circle"></i>
                                        </div>
                                         </div>
                                    <span class="hide-menu"> @Html.ActionLink("List", "Index", "Reservation")</span>
                                </a>
                            </div>
                            </li>
                            <li class="nav-item">
                                <div class="d-flex align-items-center gap-3">
                                    <a class="sidebar-link justify-content-between">
                                        <div class="round-16 d-flex align-items-center justify-content-center">
                                            <div class="round-16 d-flex align-items-center justify-content-center">
                                                <i class="ti ti-circle"></i>
                                            </div>
                                        </div>
                            <span class="hide-menu"> @Html.ActionLink("Summary", "ReservationSummary", "Reservation")</span>
                                </a>
                            </div>
                        
                            </li>
                       </ul>
                       </li>
                        @* Seperator *@
                             <li>
                     <span class="sidebar-divider lg"></span>
                     </li>
                        @* Infrastructure *@
                        <li class="sidebar-item">
                            <a class="sidebar-link justify-content-between has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <div class="d-flex align-items-center gap-3">
                                    <span class="d-flex">
                                            <i class="ti ti-aperture"></i>
                                    </span>
                                    <span class="hide-menu">Infrastructure</span>
                                </div>
                                </a>
                                    <ul aria-expanded="false" class="collapse first-level">
                                            <li class="nav-item">
                                                    <div class="d-flex align-items-center gap-3">
                                                        <a class="sidebar-link justify-content-between">
                                                            <div class="round-16 d-flex align-items-center justify-content-center">
                                                                <div class="round-16 d-flex align-items-center justify-content-center">
                                                                    <i class="ti ti-circle"></i>
                                                                </div>
                                                            </div>
                                                            <span class="d-flex hide-menu">@Html.ActionLink("Building", "Index", "Building")</span>
                                                        </a>
                                                    </div>
                                            </li>
                                            <li class="nav-item">
                                                <div class="d-flex align-items-center gap-3">
                                                    <a class="sidebar-link justify-content-between">
                                                        <div class="round-16 d-flex align-items-center justify-content-center">
                                                            <div class="round-16 d-flex align-items-center justify-content-center">
                                                                <i class="ti ti-circle"></i>
                                                            </div>
                                                        </div>
                                                        <span class="d-flex hide-menu">@Html.ActionLink("Floor", "Index", "Floor")</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="nav-item">
                                                <div class="d-flex align-items-center gap-3">
                                                    <a class="sidebar-link justify-content-between">
                                                        <div class="round-16 d-flex align-items-center justify-content-center">
                                                            <div class="round-16 d-flex align-items-center justify-content-center">
                                                                <i class="ti ti-circle"></i>
                                                            </div>
                                                        </div>
                                                        <span class="d-flex hide-menu">@Html.ActionLink("Block", "Index", "Block")</span>
                                                    </a>
                                                </div>
                                </li>
                                <li class="nav-item">
                                    <div class="d-flex align-items-center gap-3">
                                        <a class="sidebar-link justify-content-between">
                                            <div class="round-16 d-flex align-items-center justify-content-center">
                                                <div class="round-16 d-flex align-items-center justify-content-center">
                                                    <i class="ti ti-circle"></i>
                                                </div>
                                            </div>
                                            <span class="d-flex hide-menu">@Html.ActionLink("Room", "Index", "Room")</span>
                                        </a>
                                    </div>
                                </li>
                                    </ul>
                         </li>
                    <li>
                        <span class="sidebar-divider lg"></span>
                    </li>
              </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </aside>
        </div> 
      <!-- End Sidebar scroll-->
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <!--  Header End -->
        <div class="container-fluid">
                <div>@RenderBody()</div>
         </div> 
      </div>
      </div>
  <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/assets/js/sidebarmenu.js"></script>
  <script src="~/assets/js/app.min.js"></script>
    @* <script src="~/assets/js/dashboard.js"></script> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @RenderSection("scripts", false)

</body>
</html> 