@using Anandashram.Core.Models
@using Anandashram.Shared;
@using Anandashram.Models;
@model IEnumerable<DevoteeCategory>
@{
    ViewData["Title"] = "Devotee Category";
    SortModel sortModel = (SortModel)ViewData["SortModel"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 style="text-align:left">Devotee Category</h4>
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>

@* @{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
} *@
<body>
<div class="dashboard">
    <table class="table" id="tbldc">
        <thead >
        <tr>
            <td>
                <form asp-action="Index">
                    <div class="d-flex">
                        <input class="form-control" placeholder="Search..." value="@ViewData["CurrentFilter"]" type="text"
                               autocomplete="off" name="SearchText" />
                    </div>
                </form>
            </td>
            <td class="right-align">
                @* <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]" title="Previous" class="fa-solid fa-circle-arrow-left fa-2x @prevDisabled">
                    
                </a>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]" title="Next" class="fa-solid fa-circle-arrow-right fa-2x @nextDisabled">
                    
                </a> *@
            </td>
            </tr>
    </table>
        <table id="tblDevoteeCategoryList" class="table">
    <thead>
        <tr>
                    <th style="visibility:collapse"></th>
                    <th>
                        <i class="@sortModel.GetColumn("name").SortIcon aria-hidden="true"></i>
                        <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("name").SortExpression">Name</a>
                    </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
            @if (Model != null)
            {
                 @foreach (var item in Model)
    {
                    <tr>
                            <td class="Id" style="visibility:collapse">
                            <span>@item.Id</span>
                        </td>
                        <td class="Name">
                            <span>@item.Name</span>
                            <input type="text" value="@item.Name" style="display:none" />
                        </td>
                        <td>
                            <a class="Edit" href="javascript:;">Edit</a>
                            <a class="Update" href="javascript:;" style="display:none">Update</a>
                            <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                            <a class="Delete" href="javascript:;">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No Records Found</td>
                </tr>
            }
        </tbody>
</table>
</div>
</body>

@section scripts {
   
    <script type="text/javascript">
        $(function () {
            //Remove the dummy row if data present.
            if ($("#tblDevoteeCategoryList TBODY tr").length > 2) {
               $("#tblDevoteeCategoryList tr:eq(1)").remove();
            } else {
                var row = $("#tblDevoteeCategoryList tr:last-child");
                row.find(".Edit").hide();
                row.find(".Delete").hide();
                row.find("span").html('&nbsp;');
            }
        });

        function AppendRow(row, Id, name) {
            //Bind CustomerId.
            $(".Id", row).find("span").html(Id);

            //Bind Name.
            $(".Name", row).find("span").html(name);
            $(".Name", row).find("input").val(name);

            row.find(".Edit").show();
            row.find(".Delete").show();

            $("#tblDevoteeCategoryList").append(row);
        };

        //Add event handler.
        $("body").on("click", "#btnAdd", function () {
            var txtName = $("#txtName");
            var devoteeCategory = {};
            devoteeCategory.Name = txtName.val();

            $.ajax({
                 type: "POST",
                 url: "/api/DevoteeCategory/InsertDevoteeCategory",
                 data: JSON.stringify(devoteeCategory),
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (response) {
                    var row = $("#tblDevoteeCategoryList tr:last-child");
                    if ($("#tblDevoteeCategoryList tr:last-child span").eq(0).html() != "&nbsp;") {
                         row = row.clone();
                    }
                    AppendRow(row, response.Id, response.Name);
                    txtName.val("");
                 },
                 error: function (response) {
                    alert(response.responseText);
                }
            });
        });

        //Edit event handler.
        $("body").on("click", "#tblDevoteeCategoryList .Edit", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    $(this).find("input").show();
                    $(this).find("span").hide();
                }
            });
            row.find(".Update").show();
            row.find(".Cancel").show();
            row.find(".Delete").hide();
            $(this).hide();
        });

        //Update event handler.
        $("body").on("click", "#tblDevoteeCategoryList .Update", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });
          

            var devoteeCategory = {};
            devoteeCategory.Id = row.find(".Id").find("span").html();
            devoteeCategory.Name = row.find(".Name").find("span").html();
            $.ajax({
                url: '/DevoteeCategoy/UpdateDevoteeCategory', // Replace with your controller action
                type: 'POST',
                data: { devoteeCategory },
                success: function (response) {
                    if (response.success) {
                        row.find(".Edit").show();
                        row.find(".Delete").show();
                        row.find(".Cancel").hide();
                        $(this).hide();
                        alert('Updated Sucessfully');
                    } else {
                        alert('Error updating.');
                    }
                }
            });
        });

        //Cancel event handler.
        $("body").on("click", "#tblDevoteeCategoryList .Cancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Update").hide();
            $(this).hide();
        });

        //Delete event handler.
        $("body").on("click", "#tblDevoteeCategoryList .Delete", function () {
            if (confirm("Do you want to delete this row?")) {
                var row = $(this).closest("tr");
                var devoteeCategory = {};
                devoteeCategory.Id = row.find("span").html();

                $.ajax({
                      type: "POST",
                      url: "/api/DevoteeCategory/DeleteDevoteeCategory",
                      beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                      },
                      data: JSON.stringify(customer),
                      contentType: "application/json; charset=utf-8",
                      dataType: "json",
                      success: function (response) {
                        if ($("#tblDevoteeCategoryList tr").length > 2) {
                            row.remove();
                        } else {
                            row.find(".Edit").hide();
                            row.find(".Delete").hide();
                            row.find("span").html('&nbsp;');
                        }
                    }
                });
            }
        });
    </script>
    }
